
    <header class="header">
      <div class="container header__container">
        {{> header}}
        <div class="header__content">
          <h1 class="header__title">“Главное — это музыка”</h1><a class="header__link" href="https://www.youtube.com/watch?v=nBE85Qy_SLc" target="_blank">Смотреть видео</a>
        </div>
        <div class="header__scroll">
          <div class="header__scroll-text">Scroll</div>
        </div>
      </div>
    </header>
    <section class="music">
      <div class="container music__container">
        <div class="music__left"><img src="images/Music.jpg" alt=""></div>
        <div class="music__right about">
          <div class="about__subtitle subtitle">Обо мне</div>
          <h2 class="about__title title">Я музыкант</h2>
          <div class="about__slogan">“У музыки нет возраста и нации” </div>
          <div class="about__descriptons">Когда мне было 11 лет, я увидел на «MTV», как Курт Кобейн поёт «Heart-Shaped Box», и замер в изумлении. Тогда он мне показался самым красивым человеком в мире. Даже в столь юном возрасте, я почувствовал его грусть.</div>
          <div class="about__note"><span class="about__note-family">Архипов</span><span class="about__note-field"> -  Победитель гремми 2017</span></div>
        </div>
      </div>
    </section>
    <section class="life">
      <div class="container life__container">
        <h2 class="life__title">Несколько чисел моей жизни</h2>
        <div class="life__slogan">У музыки нет возраста и нации, <br/> однажды мы уйдём, а она останется.</div>
        <ul class="life__skills">
          {{#each skillsets}}
            <li class="life__skill">
              <div class="life__skill-number">{{this.number}}</div>
              <div class="life__skill-text">{{this.text}}</div>
            </li>
          {{/each}}
        </ul><a class="life__link" href="http://">Читать историю</a>
      </div>
    </section>
    <section class="product">
      <div class="container">
        <div class="product__subtitle subtitle">Товары от студии Архипова</div>
        <h2 class="product__title title">Мой личный бренд</h2>
        <ul class="product__list">
          {{#each imgs}}
            <li class="product__item"><img class="product__img" src={{this}}>
              <div class="product__hover">
                <div class="product__description">
                  <div class="product__name">Вино вдохновение</div>
                  <div class="product__price">$ 600</div>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </section>
    <section class="form">
      <div class="container">
        <div class="form__subtitle subtitle">Контактные данные</div>
        <h2 class="form__title title">Пишите, пообщаемся</h2>
        <form class="form-email" action="/" method="POST">
          <div class="form-email__line">
            <label class="form-email__label" for="">Имя *</label>
            <input class="form-email__input" type="text" name="name">
          </div>
          <div class="form-email__line">
            <label class="form-email__label" for="">Email *</label>
            <input class="form-email__input" type="email" name="email">
          </div>
          <div class="form-email__line">
            <label class="form-email__label" for="">Сообщение</label>
            <textarea class="form-email__textarea" name="message"></textarea>
          </div>
          <div class="form-email__line">
            <button class="form-email__button button" type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </section>
    {{> footer}} 
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

